@using eStoreClient.Models.ProductDTO;

@model ProductDTO

<form method="post" asp-action="Delete" asp-controller="Product">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Edit Product</h1>
        <hr />
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Name</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="Name" value="@Model.Name" disabled="" />
            </div>

            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Unit Price</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="UnitPrice" value="@Model.UnitPrice" disabled="" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Weight</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="Weight" value="@Model.Weight" disabled="" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Unit In Stock</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="UnitsInStock" value="@Model.UnitsInStock" disabled="" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Category</label>
            </div>
            <div class="col-10 pb-3">
                <input class="form-control" asp-for="Category" value="@Model.Category.Name" disabled="" />
            </div>

            <div class="col-5 offset-2">
                <input type="submit" class="btn btn-danger" value="Delete"/>
                
            </div>
            <div class="col-5 offset-2">

                <a class="btn-primary btn form-control" asp-controller="Product" asp-action="Index">Back to List</a>
            </div>

        </div>
    </div>
</form>
